* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }


// COLORES

$colorbg: #000000; 
$colormain: #ff4500;
$colorfuente: #ffffff;
$colorbg2: #ffffff1a;


// MIXINS

@mixin hero ($ancho, $alto, $altura-minima, $bgsize, $bgposition){
  width: $ancho;
  height: $alto;
  min-height: $altura-minima;
  background-size: $bgsize;
  background-position: $bgposition;
}
@mixin main ($ancho, $maxancho, $margen){
  width: $ancho;
  max-width: $maxancho;
  margin: $margen;
}
@mixin logo ($alto, $ancho, $bg, $border, $color, $radius, $display, $align, $justify, $font-size){
  height: $alto;
  width:  $ancho;
  background: $bg;
  border: $border;
  color: $color;
  border-radius: $radius;
  display: $display;
  align-items: $align;
  justify-content: $justify;
  font-size: $font-size;
}
  
  body {
    overflow-x: hidden;
  }
  
  .hero {
    @include hero (100%, 100%, 100vh, cover, center);
      background: url(../img/Sin\ título-1.jpg); 
    }
  
  .hero1 {
    @include hero (100%, 100%, 100vh, cover, center);
    background: url(../img/Fondo.jpg); 
  }
  
  .main-width {
    @include main (189vw, 95%, 0);
    padding: 0px 20px;
  }
  
  header {
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo i {
    @include logo (4.6vh, 8.1vw, transparent, 2px solid $colormain, $colormain, 50%, inline-flex, center, center, 1em);
    cursor: pointer;
  }
  
  nav .nav-list {
    list-style: none;
  
    li {
      display: inline-block;
    }
  
    a {
      display: inline-block;
      color: $colorfuente;
      margin-left: 55px;
      font-size: 0.938em;
      font-weight: 600;
      text-decoration: none;
    }
  
    .action {
      color: $colormain;
    }
  
    li:not(:last-child) a:hover {
      color: $colormain;
      transition: 0.4s;
    }
  
    li.btn a {
      display: inline-block;
      background: transparent;
      border: 2px solid $colormain;
      padding: 9px 28px;
      border-radius: 30px;
      line-height: 1.3;
      color: $colormain;
      font-weight: 500;
    }
  
    li.btn:hover a {
      background: $colormain;
      color: $colorfuente;
      border: 2px solid transparent;
      transition: 0.4s;
    }
  }
  
  .checkbtn {
    font-size: 3.125em;
    color: $colormain;
    float: right;
    line-height: 200px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .container {
    padding-top: 190px;
  }
  
  .container .hero-text {
    margin-bottom: 40px;
  
    h1 {
      color: $colorfuente;
      font-size: 2.938em;
      font-weight: 900;
      line-height: 1.2;
      margin: 20px 0px 20px;
    }
  
    h3 {
      color: $colorfuente;
      font-weight: 400;
      font-size: 1.063em;
    }
  
    p {
      width: 65vw;
      max-width: 100%;
      color: $colorfuente;
      font-size: 0.938em;
      line-height: 1.5;
      margin-bottom: 30px;
    }

  }
  
  span {
    color: $colormain;
  }
  
  .social {
      a {
          width: 5.4vw;
          height: 3.1vh;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 1.063em;
          color: $colormain;
          cursor: pointer;
          margin-right: 20px;
          background-color: $colorbg2;
          margin-bottom: 35px;
      }
  
      a:hover {
          transform: scale(1.1);
          color: $colorfuente;
          background: $colormain;
          transition: 0.4s;
        }
  }
  
  .bottom {
    margin-top: 243px;
    padding-bottom: 40px;
  
    p {
      color: $colorfuente;
      letter-spacing: 2px;
      font-size: 0.938em;
    }
  }
  
  .about {
    margin-top: 100px;
    margin-right: 600px; 
    color: $colorfuente;
  
    h1 {
      margin-bottom: 20px;
      font-size: 2.5em;
    }
  }
  
  .skills {
    margin-top: 100px;
    margin-right: 600px;
    color: $colorfuente;
  
    h1 {
      margin-bottom: 20px;
      font-size: 2.5em;
    }
  }
  
  
  .works {
      h1 {
          font-size: 3.75em;
          color: $colorfuente;
          display: flex;
          justify-content: center;
          margin-top: 100px;
          margin-bottom: 300px;
          letter-spacing: 5px;
        }
  }
  
  .works-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    
    li {
      display: inline-block;
      margin-bottom: 300px;
  
      a {
          display: inline-block;
          color: $colorfuente;
          margin-left: 70px;
          margin-right: 70px;
          font-size: 2.5em;
          font-weight: 600; 
      }
      a:hover {
          color: $colormain;
          transition: 0.4s;
      }
    }
  }
  
  
  .fotos img {
    width: 59vw;
  }
  
  .diseños {
    display: flex;
    justify-content: space-between;
  
    img {
      width: 59vw;
      height: 34vh;
    }
  }
  
  
  
  .form {
    background-color: $colormain;
    width: 90%;
    max-width: 59vw;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-top: 250px;
  
    h2 {
      color: $colorfuente;
    }
  
    .form__container {
      width: 100%;
      display: grid;
      gap: 1em;
      grid-auto-columns: 100%;
    }
    
    .form__title {
      text-align: center;
    }
  
    .form__input {
      font-family: inherit;
    }
  }
  
  @media (max-width: 990px) {
    header {
      display: flex;
      flex-direction: column;
    }
    .logo {
      margin-bottom: 40px;
    }
    .hero {
      background-color: $colorbg;
      background-image: none;
    }
    .about {
      margin-right: 0;
    }
    .skills {
        margin-right: 0;
    }
  }